@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

html {
  background-color: #FFBD33;
}

body {
  background: SeaShell;
  font-family: 'Homemade Apple', cursive;
  margin: 0 auto;
  padding: 20px 20px;
  width: 80%;
}

ul {
  list-style-type: square;
}

footer {
  padding: 10px 10px;
}

.navigation {
  font-weight: bold;
  outline: 1px solid brown;
  padding: 5px;
}

.links{
  background-color: #DBFF33;
  margin: 10px 10px;
  outline: 1px solid red;
  padding: 10px 10px 10px 10px;
}
